<div id="page-content">

  <section class="full-section dark-section" id="section-17" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="headline style-1 text-center">

              <p>Crypto Trade Systems</p>
              <h3>Developed by us, to solve your problems.</h3>

            </div><!-- headline -->

            <br>

            <p class="text-center"><%= link_to "Admin", "/menu", class: 'btn btn-default btn-lg' %></p>


          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <br>
      <br>
      <br>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">

            <div class="service-box style-1">

              <h4>01</h4>

              <div class="service-box-content">

                <h4><a href="single-service.html">Estoque</a></h4>

                <p style="font-size:16px;">Tenha seu estoque a um clique. Insira, remova, atualize; é simples é prático.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-3">

            <div class="service-box style-1">

              <h4>02</h4>

              <div class="service-box-content">

                <h4><a href="single-service.html">Clasificação</a></h4>

                <p style="font-size:16px;">Estoque totalmente organizado e dividido, sem disperdicio de tempo.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-3">

            <div class="service-box style-1">

              <h4>03</h4>

              <div class="service-box-content">

                <h4><a href="single-service.html">Cadastro</a></h4>

                <p style="font-size:16px;">Cadastre clientes e fornecedores, mais rápido e prático do que se imagina.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-3">

            <div class="service-box style-1">

              <h4>04</h4>

              <div class="service-box-content">

                <h4><a href="single-service.html">Controle</a></h4>

                <p style="font-size:16px;">Gerencie tudo com um sistema de relatorios totalmente personalizado.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <section class="full-section dark-section" id="section-18" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="image-box">

              <div class="image-box-thumbnail" style="background-image:url(<%= asset_path "image-13.jpg"%>); min-height:600px;"></div>
              <div class="image-box-details">

                <div class="headline style-1 text-right">

                  <p>Deixe nos apresentarmos</p>
                  <h3>Contate-nos com suas duvidas ou sujestões</h3>

                </div><!-- headline -->

                <p class="text-right">Donec aliquam lorem quis nibh viverra vehicula. Donec pharetra
                lacus in dolor ultricies mollis eget sit amet ipsum. Suspendisse eu imperdiet tellus,
                non tempus tortor. Duis ultricies eu nunc non placerat. Praesent congue quam ipsum,
                at consequat felis eleifend id. Aliquam pellentesque sapien at mollis sodales. Donec
                aliquam lorem quis nibh viverra vehicula. Donec pharetra lacus in dolor ultricies
                mollis eget sit amet ipsum. Suspendisse eu imperdiet tellus, non tempus tortor. Duis
                ultricies eu nunc non placerat. Praesent congue quam ipsum, at consequat felis eleifend
                id. Aliquam pellentesque sapien at mollis.</p>

              </div><!-- image-box-details -->

            </div><!-- image-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- full-section-container -->
  </section><!-- full-section -->

  <section class="full-section dark-section parallax" id="section-19" data-stellar-background-ratio="0.1">
    <div class="full-section-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="headline style-2">

              <p>O que é falado sobre nos</p>
              <h2>Testemunho de clientes</h2>

            </div><!-- headline -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="container">
            <div class="row carousel-caption">
              <div class="col-sm-offset-3 col-sm-9">

                <div class="testimonial">

                  <blockquote>
                    <p>A começar pela equipe de atendimento tecnico é tudo uma maravilha. Atenciosos como sempre eles se preocupam com nossas nescessidades. O sistema é fluido e chaga  a ser um pouco mais do que eu esperava, surpreendendo nossa equipe positivamente de forma constante.</p>
                  </blockquote>

              <%= image_tag "image-1.jpg", class: 'center-imgs' %>

              <h6 style="font-size:18px;">
                Renato Torres<br>
                <span>CTO da Dotcell.</span>
              </h6>

              </div><!-- testimonial -->

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item -->

      <div class="item">
        <div class="container">
          <div class="row carousel-caption">
            <div class="col-sm-offset-3 col-sm-9">

              <div class="testimonial">

                <blockquote>
                  <p>Posso dizer sem sombra de duvidas que o sistema de relatorios é o que nos mais precisavamos aqui na nossa empresa, um sistema robusto que nos trás mestricas de tudo que precisamos .</p>
                </blockquote>

                  <%= image_tag "bg-3.png", size: '80x80' , class: 'center-imgs' %>

                    <h6 style="font-size:18px;">
                      Rubens Soares<br>
                    <span>Gerente da Teresina Celular.</span>
                    </h6>

            </div><!-- testimonial -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- item -->

    <div class="item">
      <div class="container">
        <div class="row carousel-caption">
          <div class="col-sm-offset-3 col-sm-9">

            <div class="testimonial">

              <blockquote>
                <p>Posso dizer sem sombra de duvidas que o sistema de relatorios é o que nos mais precisavamos aqui na nossa empresa, um sistema robusto que nos trás mestricas de tudo que precisamos .</p>
              </blockquote>

                <%= image_tag "image-2.jpg", size: '80x80' , class: 'center-imgs' %>

                  <h6 style="font-size:18px;">
                    Gilberto Gomes<br>
                  <span>China Cell.</span>
                  </h6>

          </div><!-- testimonial -->

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- item -->

    </div>
  </div>

    </div><!-- full-section-container -->
  </section><!-- full-section -->

</div>
<div id="footer-bottom">

				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-4">

							<div class="widget widget-text">

								<div>

									<img src="<%= asset_path "logo-3.png"%>" alt="">

								</div>

							</div><!-- widget-text -->

						</div><!-- col -->
						<div class="col-sm-5 col-md-4">

							<div class="widget widget-text">

								<div>

									<p class="copyright text-center">2016 Crypto Trade Systems &copy; All Rights Reserved</p>

								</div>

							</div><!-- widget-text -->

						</div><!-- col -->
						<div class="col-sm-4">

							<div class="widget widget-social">

								<div class="social-media">

									<a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
									<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
									<a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
									<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
									<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>

								</div><!-- social-media -->

							</div><!-- widget-social -->

						</div><!-- col -->
					</div><!-- row -->
				</div><!-- container -->

			</div><!-- FOOTER BOTTOM -->
